.navbar{
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.91);
}
.navbar-brand {
    font-size: 35px;
    font-weight: 600;
    margin-left: 2px;
}
.navbar-t{
    margin-left: auto;
}
.navbar-t li{
    margin: 0 3px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}
.navbar-dark .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: red;
}
.nav-item{
    padding:5px;
    margin: 5px;
    font-size: 20px;
}
.nav-item 
.navbar-social{
    flex-direction: row;
    justify-content: center
}
.navbar-social i{
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
}
.navbar-social i:hover{
    background-color: red;
}
.home{
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}